<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>طباعة الباركود</title>
    <link rel="icon" type="image/x-icon" href="/static/uploads/{{ company_logo }}">
    <link rel="shortcut icon" href="/static/uploads/{{ company_logo }}">
    <meta property="og:image" content="https://capitano-eg.vercel.app/static/uploads/{{ company_logo }}">
    <meta property="og:title" content="كابيتانو | Capitano">

    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>
    <style>
        body { font-family: sans-serif; text-align: center; }
        .barcode-container {
            display: inline-block;
            border: 1px dashed #ccc;
            padding: 10px;
            margin: 10px;
            width: 200px;
            text-align: center;
        }
        @media print {
            button { display: none; }
            .barcode-container { border: none; page-break-inside: avoid; }
        }
    </style>
</head>
<body>
    <button onclick="window.print()" style="padding: 10px 20px; font-size: 20px; margin: 20px; cursor: pointer;">🖨️ طباعة الكل</button>
    <hr>
    
    {% for v in variants %}
    <div class="barcode-container">
        <div>{{ v.model.name }}</div>
        <div><strong>المقاس: {{ v.size }}</strong></div>
        <svg id="barcode{{ v.id }}"></svg>
        
        <script>
            JsBarcode("#barcode{{ v.id }}", "{{ v.barcode }}", {
                format: "CODE128",
                width: 2,
                height: 50,
                displayValue: true,
                fontSize: 14,
                margin: 5
            });
        </script>
    </div>
    {% endfor %}

</body>
</html>